body {
  padding: 0 4rem; 
  font-family: monospace
}

h1 {
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
  text-align: justify;
  margin: 0 1rem;
  padding: 0.5rem 0; 
}

#second-photo {
  width: 35%;
  padding: 1rem 0 0 0; 
}

footer {
  text-align: center;
  padding: 1rem 0;
}