body {
  padding: 0 4rem; 
  font-family: monospace
}

h1 {
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
  text-align: justify;
  padding: 0.5rem 0; 
}

.second-photo {
  width: 25%;
}

.share {
  text-align: center;
  padding: 1rem 0;
}